* {
	margin: 0;
	padding: 0;
	font-family: arial;
	color: #666;
}
body{
	height: 100%;
}
.clearfix {
	clear: both;
}
#home {
	
	margin: 0 auto;
	width: 100%;
	
}
.logo{
	font-family: 'Permanent Marker', cursive;
	color: #D3B0AD;
}
header{
	width: 100%;
	background-color:  #595859;

	}
header a{
		color: #666;
	}
#left_header{
	padding:15px 0px 10px 25px ;
	float: left;
	transition: border 1s;
}
#left_header h1{
	margin-bottom: 0;
}

nav {
	float: right;

}
nav ul{
	margin-bottom: 0;
}
nav ul li {
	
	padding: 27px 17px;
	font-size: 20px;
	list-style-type: none;
	margin: 0 2px;
	transition: background 2s;
	display: inline-block;
	
}
nav ul li a{
	text-decoration: none;
	color: #D3B0AD;
}
nav ul li a:hover{
	text-decoration: none;
	color: #D3B0AD;
}
@media screen and (max-width: 950px){
	#home{
		width: 100%;
	} 
	#left_header h1{
		padding-left: 10px;
	}
	nav ul li{
		padding: 27px 10px;
	}
}
@media screen and (max-width: 730px){
	#home{
		width: 100%;
	}
	#left_header{
		width: 100%;
		text-align: center;
		padding:0px;
		padding-top: 10px;
	}
	nav{
		width: 100%;
		text-align: center;
	}
	nav ul{
		width: 100%;
		margin-bottom: 0;
	}
	nav ul li{
		font-size: 15px;
		padding: 10px;
	}
}
@media screen and (max-width: 400px){
	nav ul li{
		font-size: 10px;
	}
}
.first_section img{
	height: 80%;
	width: 100%;
}
section{
	padding: 0 5%;
	
}
section h1{
	text-align: center;
	font-size: 30px;
	padding: 20px;
}
article{
	width: 30%;
	float:left;
	margin: 10px 3% 20px 0;
}
article h1{
	text-align: center;
	font-weight: bold;

}
article img{
	width: 100%;

}

.art_title{
	padding: 5% 0;
	text-align: center;
	
}
@media screen and (max-width: 650px){
	article{
		width: 100%;
		margin:0 0 15px 0;
	}
}
.second_section{
	background-image: url(../images/311.jpg);
	background-size: cover;
	background-position: center center;
	padding:0;
	margin-top: 20px;
	background-attachment: fixed;

}
.second_section h1{
	text-align: center;
	color:white;
	padding-top: 20px;

}
.second_section p{
	color: white; 
	text-indent: 50px;
	max-width: 900px;
	padding: 0 50px 10px 50px;
	font-size: 18px;
	 line-height: 170%;
	 margin: 0 auto;
	 width: 100%;
}
@media screen and (max-width: 650px){
	.second_section p{
		padding:0 15px 10px 15px;
	}
}
.myGallery img{
	width: 25%;
	float:left;
	
}
@media screen and (max-width: 650px){
	.myGallery img{
		width: 50%;
	}
}
.my_work img{
	width: 30%;
	float: left;
	margin: 20px 0 20px 30px;
}
.my_work p{
	width: 60%;
	float: right;
	margin-top: 10px;
}
.my_work_article{
	background-color: #D3B0AD;
	padding-top: 25px;
	padding-bottom: 25px;
}
.my_work_article h1{
	text-align: center;
	color: white;
}
.my_work_article p{
	max-width: 900px;
	margin: 0 auto;
	line-height: 200%;
	padding-bottom: 15px;
	color: white;
}
@media screen and (max-width: 650px){
	.my_work img{
		width: 90%;
		margin: 0 5% 0 5%;
	}
	.my_work p{
		width: 100%;
		padding: 15px;
	}
	.my_work_article p{
		padding:15px;
	}
}
.img1{
	background-image: url(../images/wedding.jpeg);
	position: relative;
	background-size: cover;
	background-position: center center;
	height: 800px;
	
}
.img2{
	background-image: url(../images/img2.jpg);
	position: relative;
	background-size: cover;
	background-position: center center;
	height: 800px;
	background-attachment: fixed;
}
.img3{
	background-image: url(../images/img3.jpg);
	position: relative;
	background-size: cover;
	background-position: center center;
	height: 800px;
	background-attachment: fixed;
}
.img4{
	background-image: url(../images/img4.jpg);
	position: relative;
	background-size: cover;
	background-position: center center;
	height: 800px;
	background-attachment: fixed;
}
.img5{
	background-image: url(../images/img5.jpg);
	position: relative;
	background-size: cover;
	background-position: center center;
	height: 800px;
	background-attachment: fixed;
}

.img1 h1{
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: white;
}
.img2 h1{
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: white;
}
.img3 h1{
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: white;
}
.img4 h1{
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: white;
}
.img5 h1{
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: white;
}
@media screen and (max-width: 700px){
	.img1 {
		background-size: 140%;
		height: 300px;
		background-repeat: no-repeat;
		background-attachment: scroll;
	}
	.img1 h1{
		top:40%;
	}
	.img2 {
		background-size: 140%;
		height: 300px;
		background-repeat: no-repeat;
		background-attachment: scroll;
	}
	.img2 h1{
		top:40%;
	}
	.img3 {
		background-size: 140%;
		height: 300px;
		background-repeat: no-repeat;
		background-attachment: scroll;
	}
	.img3 h1{
		top:40%;
	}
	.img4 {
		background-size: 140%;
		height: 300px;
		background-repeat: no-repeat;
		background-attachment: scroll;
	}
	.img4 h1{
		top:40%;
	}
	.img5 {
		background-size: 140%;
		height: 300px;
		background-repeat: no-repeat;
		background-attachment: scroll;
	}
	.img5 h1{
		top:40%;
	}
}
footer{
	width: 100%;
	height: 100%;
	background-color:  #595859;
	
	padding-top: 20px;
	
 
}
.footer-logo{
	background-color:#E5E5E5;
	color: #595859;
	text-align: center;
	padding: 20px;

}
.nav-footer{
	width: 100%;
	
}
.nav-footer ul li{
	position: relative;
	padding: 27px 17px 0px 17px;
	font-size: 20px;
}
.nav-footer ul li:after{
 content: '/';
 position: absolute;

 right:-5px;
}
.nav-footer ul li:last-child:after {
 content: " "; 
}
.nav-footer ul li a{
	color: #595859;
}
.footer{
	padding: 0 5%;
}
.footer{
	max-width: 80%;
	margin: 0 auto;
}
.footer h3{
	text-align: center;
	margin-bottom: 20px;
	font-size: 15px;
	color: #D3B0AD;
}
.footer-logo{
	padding: 65px;

}
.logo-footer{
	color: #595859;
	font-family: 'Permanent Marker', cursive;
}
.footer-logo li{
	list-style-type: none;
	display: inline-block;
	
	text-align: center;
}
.footer-logo li i{
	color: #595859;
	padding:10px;
	
}
.footer form{
	margin: 0 auto;
	padding-bottom: 15px;
	width: 350px;
	text-align: center;
}
.footer form label{
text-transform: capitalize;
color: #D3B0AD;
font-size: 25px;
}
.footer form input{
	margin-bottom: 10px;
}
.footer form button{
	width: 110px;
	border-radius: 20px;
	margin: 0 auto;
	height: 50px;
	color: #D3B0AD;
}
@media screen and (max-width: 650px){
	.footer{

		text-align: center;
	}
	.footer h3{
		
		font-size: 20px;
	}
	.footer form{
		width: 100%;
	}
}
@media screen and (max-width: 400px){
	.footer-logo{
		padding: 10px 0px 10px 0px;

	}
}
@media screen and (max-width: 730px){
	
	.nav-footer ul li{
		font-size: 15px;
		padding: 10px;
	}

	
}
